/* User logged styles */
.user__logged {
  color: #ccc;
  font-size: 1.2rem;
  margin: 10px 0; 
}

.username {
  color: #EB6E4B;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem; 
}

.dropdown__account {
  background-color: transparent;
  border: none;
}

.dropdown-menu[data-bs-popper] {
  top: -170px;
}

.user__logged {
  font-weight: 500;
}

@media (min-width: 992px) {
  .user__logged {
    font-size: 0.9rem; 
  }

  .username {
    font-size: 1rem; 
  }
}

