.form__login,
.form__signUp {
  background-color: #3e49545b;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  padding: 20px;
  margin-top: 100px;
}

.content__form__login,
.content__form__signUp {
  width: 500px;
}

.title__login,
.title__signUp {
  font-size: 2.0rem;
  color: #fff;
}

.text__signup,
.text__login,
.text__password__forgot {
  color: #fff;
}

.link__signUp,
.link__login,
.link__forgot {
  color: #000;
  text-decoration: none;
}

.link__signUp:hover,
.link__login:hover,
.link__forgot:hover {
  color: #ccc;
  text-decoration: underline;
}
