.nav__link {
  text-decoration: none;
  color: #ccc;
}

.nav__link:hover {
  color: #EB6E4B;
  text-decoration: underline;
}

.link__hack {
  color: #fff;
  text-decoration: none;
}

.link__hack:hover {
  color: #ccc;
  text-decoration: underline;
}

.team {
  color: #EB6E4B;
}