/* Navigation Links */
.nav__link {
  text-decoration: none;
  color: #ccc;
  font-size: 1rem; 
}

.nav__link:hover {
  color: #EB6E4B;
  text-decoration: underline;
}

.link__hack {
  color: #fff;
  text-decoration: none;
  font-size: 1rem; 
}

.link__hack:hover {
  color: #ccc;
  text-decoration: underline;
}

.team {
  color: #EB6E4B;
  font-size: 1rem; 
}

@media (max-width: 768px) {
  .nav__link,
  .link__hack,
  .team {
    font-size: 0.9rem; 
  }
}