.defaultWeather__section {
  margin-top: 100px;
  padding: 20px;
}

.title__defaultWeather {
  color: #EB6E4B;
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .defaultWeather__section {
    margin-top: 50px; 
    padding: 10px; 
  }

  .title__defaultWeather {
    font-size: 1.5rem;
  }
}