.about__section {
  margin-top: 10vh;
  padding: 20px;
  display: grid;
  min-height: 60dvh;
  grid-template-rows: auto 1fr auto;
}

.content__about {
  background-color: #8f9ba75b;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 40px;
}

.title__about {
  color: #EB6E4B;
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 2rem;
}

.about__section p {
  text-align: left;
  color: #f8f9fa;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .about__section {
    margin-top: 5vh;
    padding: 15px;
  }

  .title__about {
    font-size: 1.5rem;
  }

  .about__section p {
    font-size: 0.9rem;
  }
}
